<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.logueojdc">

    <uses-sdk tools:overrideLibrary="com.google.zxing.client.android" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:hardwareAccelerated="true"
        android:icon="@drawable/libros"
        android:label="BibliotecaJDC"
        android:supportsRtl="true"
        android:theme="@style/Theme.LogueoJDC"
        tools:targetApi="31">
        <activity
            android:name=".Libros"
            android:exported="false" />
        <activity
            android:name="com.journeyapps.barcodescanner.CaptureActivity"
            android:screenOrientation="portrait"
            tools:replace="screenOrientation" />
        <activity
            android:name=".ResetPass"
            android:exported="false" />
        <activity
            android:name=".RegistroUser"
            android:exported="false" />
        <activity
            android:name=".inicio"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="BibliotecaJDC"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>